

.colore{
    background-color: aqua;
}

.colore-2{
    background-color: azure;
}

.colore-3{
    background-color: rgb(231, 205, 255);
}

.my-main-card{
    
    border: 2px solid red;
}


.my-margin-auto{
    margin: 0 auto;
}